<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:image" content="<%= BASE_URL %>img/images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>img/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>img/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="<%= BASE_URL %>img/images/favicons/safari-pinned-tab.svg" color="#27a83b">
    <link rel="manifest" href="<%= BASE_URL %>manifest.json">

    <title>Touchbase</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,500,700,900"> -->
    <link rel="stylesheet" href="/uikit/css/main.css" />
    <script src="/uikit/js/uikit.min.js" defer></script>
    <script src="/uikit/js/uikit-icons.min.js" defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <script src="https://apis.google.com/js/api.js"></script>
    <script>
      console.log(['advertise', 'plans'].includes(window.location.pathname.split('/')[1]));
      ['advertise', 'plans'].includes(window.location.pathname.split('/')[1]) && document.write('<script src="https://www.paypal.com/sdk/js?client-id=AThTzXtdMRExdL6ye65avzQUwdNN9_2-G5j2MAL9X1ztwBNzyvw9bGBsjiI_TzeCO7E95VRrjHraqrx0&currency=USD"><\/script>');
    </script>
    
  </head>
  <body>
    <!-- <script src="./src/libs/swiper/swiper.min.js"></script> -->
    <noscript>
      <strong>We're sorry but Touchbase doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
  </body>
</html>
